:root {
    --primary: #F9F7F4; 
    --secondary: #9B8E83; 
    --background: #F6F1E9; 
    --surface: #F3EDE3;  
    --surface-hover: #F9F7F4; 
    --accent: #4B6587; 
    --highlight: #FF8C56; 
    --dark: #2D3047; 
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

.fraunces-heading, h5 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--dark);
    font-variation-settings:
      "SOFT" 100,
      "WONK" 1;
  }

  .inter-body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--dark); 
  }

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}


.hide > img{
    border-radius: 28%;
    height: 25vh;
}

.card{
    background-color: var(--background);
    border-radius: 1rem;
}

.sf-card > .card {
    background-color: var(--surface-hover);
}
.btn-outline-primary {
    color: var(--secondary); 
    background-color: transparent; 
    border: solid 1px var(--secondary);
}
.btn-outline-primary:hover{
    color: var(--surface);
    background-color: var(--accent);
    border: solid 1px var(--accent);
}

a > .bi{
    color: var(--secondary);
    /* background-color: var(--secondary); */
}

a > .bi:hover {
    color: var(--accent);
}

::selection {
    color: var(--primary); 
    background-color: #2D3047;

}

.dialogbox {
    background: linear-gradient(
        
        transparent,
        transparent 98%, 
        var(--accent)
    );
    
    border: 1px solid var(--secondary); 
    border-radius: 8px;
}

.dark {
    color: var(--surface); 
    background-color: #2D3047;
}

.dark::selection {
    color: var(--dark); 
    background-color: var(--primary);
}

footer >* a {
    color: var(--background);
    font-style: italic;
}
footer >* a:hover {
    color: var(--primary); 
}